/* @import url("./FontSetting.css"); */

.register-page {
  background-image: url("../assets/Images/Cinema-Seat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-main {
  width: 36%;
}
.card-container {
  width: 306px;
  height: 450px;
  background-color: rgba(24, 26, 28, 0.84);
  border-radius: 16px;
  padding: 20px;
  padding-top: 24px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* Welcome & Login */
.card-header {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
}

.card-header p:first-child {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
}

/* Username & Password */
.card-form {
  width: 100%;
}

.input-spacing {
  margin-bottom: 20px;
}
.password-icon {
  position: relative;
  width: 13px;
  left: 243px;
  bottom: 24px;
  cursor: pointer;
}
.form-input {
  width: 100%;
  height: 28px;
  border-radius: 12px;
  display: block;
  border: 0.58px solid rgba(231, 227, 252, 0.23);
  background-color: transparent;
  padding: 4px 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: start;
  color: rgba(193, 194, 196, 1);
}

.form-label {
  display: block;
  font: weight 500px;
  font-size: 10px;
  size: 10px;
  line-height: 140%;
  letter-spacing: 0.2;
  margin: 4px;
}

/* Alternative Login */
.form-alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin-top: -13px;
  color: rgba(193, 194, 196, 1);
}
.form-alternative a {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: none;
}

.form-alternative a:hover {
  text-decoration: underline;
}

.form-button {
  width: 100%;
  height: 30px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.2;
  border-color: rgba(231, 227, 252, 0.23);
  border-radius: 14px;
  color: white;
  cursor: pointer;
}
.form-button-submit {
  background-color: rgba(61, 65, 66, 1);
}
.separator {
  color: rgba(157, 158, 161, 1);
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin: 4px;
}
.form-button-google {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* Start for PC layout */

@media screen and (min-width: 1024px) {
  .card-container {
    width: 529px;
    height: 663px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    gap: 37px;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .logo-main {
    width: 30%;
  }
  .card-form {
    width: 100%;
  }
  .input-spacing {
    margin-bottom: 20px;
  }

  .card-header {
    font-size: 16px;
    margin-bottom: -15px;
  }
  .card-header p:first-child {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 8px;
  }

  /* username & pass */
  .form-label {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: left;
  }
  .form-input {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-radius: 24px;
  }

  .password-icon {
    position: relative;
    width: 20px;
    left: 412px;
    bottom: 34px;
    cursor: pointer;
  }

  /* Alternative login */
  .form-alternative {
    font-size: 16px;
  }
  .form-button {
    height: 50px;
    font-size: 16px;
    border-radius: 24px;
  }
  .separator {
    font-size: 14px;
  }
}
